<!-- 
	Name: demo.launch
	Author: Vinay (me@vnay.in)
	Description: Launch file to run a demo lidar_publisher node.
		Also publishes a static tf transform with link name: lidar_publisher
-->
<launch>
	<!-- Start a dummy lidar publisher node -->
	<node name="lidar_publisher" pkg="lidar_publisher" type="lidar_publisher_node" />
	<!-- publish static tf -->
	<node pkg="tf" type="static_transform_publisher" name="lidar_link" args="1 0 0 0 0 0 1 link1_parent link1 100" />
</launch>